$bg:#b51500;

html, body, #map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
}

body.loading {
  display: none;
}

body.no-route #map-canvas {
  background: white;
}

#panel {
  position: absolute;
  left: 50%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}

form {
  float: right;
  width: 30%;
  text-align: left;
  padding-top: 20px;
  display: none;
  h1 {
    font-weight: normal;
    font-size: 50px;
    color: #333;
    strong {
      //color: #666;
      font-weight: normal;
    }
  }
  input {
    margin-bottom: 1em;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px;
  }
  body.no-route & {
    font-size: 40px;
    padding: 10px 30px;
    color: black;
    float: none;
    width: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    text-align: center;
    display: block;

  }
}

#directions_panel {
  margin: 20px;
  padding: 0 10px;
}

#map-canvas {
  float: left;
  width: 70%;
  height: 100%;
}
